# Xcode
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcworkspace
*.xcuserstate
.idea/
*.hmap
*.ipa
*.dSYM

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Swift Package Manager
/.build/
/Packages/

# User settings
.DS_Store

# Plans
plans/

# Logs
*.log

# Test files and outputs
/tests/

# Temporary files
*.swp
*~
